.play-btn {
    width: 50px;
    margin: 10px;
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #323233, #252323);
}